<h1>Getting Started</h1>
<p>This is a work in progress. Some features don't work properly, all tables should be viewed with caution.</p>
<p>This is a web-app in that all data and all calculations are performed in your browser.
  Some reports may take 30 seconds or longer to run.
  No data is ever transferred from your computer anywhere. However this means that the app can be quite slow.<p>
<p>To use this app you need download your NAPLAN data as a CSV file.
  To do this follow the advice for <strong>step 7 (pages 17 to 22)</strong> in this <a href="http://www.education.vic.gov.au/Documents/school/teachers/support/smtextractionguide.pdf">document</a> to download your NAPLAN data.
  Depending on the reports you want to see you will need the <strong>question Level data</strong> and the <strong>outcome level data</strong>.</p>
  <p>I plan to write more about this in the future.</p>
  <p>This app stores data in your brower's local storage. This is controlled on the settings page.
    Closing your browser won't delete the data from your browser, you need to delete on the settings page.</p>
<p>The equivalence tables for 2017 have not been released yet, and therefore are incomplete, as the students I had access to did not cover every score for every test.
  For this reason the 2017 won't work for many of your students until the data is released.</p>
  <p>If you are able to work out some of the correct scaled scores for 2017 that I am missing, drop me an email and I'll update the files.</p>
  <p>The matched growth data (for year 3 to year 5) for reading is estimated based on the data I have. This should be seen as indicative only.
    I haven't estimated the cutoffs for numeracy, spelling, or grammar and punction yet. This is on the list. ACARA don't release their tables for this.</p>
  <p>I haven't added the equivalence tables for year 7 and 9 (sorry). If you want to do this have a look in the https://www.richardolsen.me/naplan/services/tables.js file.</p>
  <p>Also I haven't tackled the five year trend graphs, they are on my to do list but way down.
    If you're really deperate I do have a PHP script that looks at probabilities of the trend, year by year.</p>
  <p>I do plan to upload this to github to share, with an open source license. If you need the code for a project and are worried about copyright, drop me a line at richard@richardolsen.me.</p>
  <h3>Demo Data</h3>
  <p>If you don't have access to real NAPLAN data or you want to quickly check this out, I have prepared two data sets of ten students.</p>
  <p>Year 3 2015 and Year 5 2017 can be downloaded at:</p>
  <p><a href="https://www.richardolsen.me/naplan/demo-data/outcomes-3-2015.csv" download target="_self">https://www.richardolsen.me/naplan/demo-data/outcomes-3-2015.csv</a></p>
  <p><a href="https://www.richardolsen.me/naplan/demo-data/outcomes-5-2017.csv" download target="_self">https://www.richardolsen.me/naplan/demo-data/outcomes-5-2017.csv</a></p>
  <p>Once these data sets are downloaded. Click on data sets and add them. Then click on reports.</p>
  <h3>Analytics</h3>
  <p>I have included google analytics in this code. Just to see if anyone is visiting or not.</p>
  <hr />
  <p>Yes, I do plan to make more fake data set at some stage, so people without access to NAPLAN data can have a play.</p>

  <p><strong>If you have any questions or feedback, please email me at richard@richardolsen.me</strong></p>
